@*@model GYMProgram.ViewModels.WeekDays*@
@{
    ViewData["Title"] = "CopyDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>CopyDay</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="CopyDay">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label name="head Guid" class="control-label">head Guid</label>
                <select name="headGuid" class="form-control" asp-items="ViewBag.WeekDaysHeads"></select>
            </div>

            <div class="form-group">
                <label name="FromDayNumber" class="control-label">From Day</label>
                <select name="FromDayNumber" class="form-control" asp-items="ViewBag.ListWeekDays"></select>
            </div>

            <div class="form-group">
                <label name="ToDayNumber" class="control-label">To Day</label>
                <select name="ToDayNumber" class="form-control" asp-items="ViewBag.ListWeekDays"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Copy" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

